*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container
{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}
.container-form
{
    color:rgb(255, 255, 255);
    width: 50vw;
    height: fit-content;
    margin: 0 auto;
    padding: 25px;
    border-radius: 4px;
    background:linear-gradient(210deg,rgba(255, 255, 255, 0.589),rgba(255, 255, 255, 0.274));
    transition: box-shadow 1s ease-out;
    font-size: 1.2rem;
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family: 'Montserrat', sans-serif;
    
}
.container-form:hover
{
    box-shadow:1px 1px 10px 1px rgba(0, 0, 0, 0.055);
    transition: box-shadow 0.3s ease-out;
}
.btn-try-another
{
    color: white;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 2px;
    border:1px rgba(255, 255, 255, 0.678) solid;
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.438);
    padding: 12px;
    font-size: medium;
    margin-top:9px;
    letter-spacing: 1px;
    transition: background .2s ease-out;  

}
.btn-try-another:hover
{
    background-color: rgba(94, 94, 94, 0.466); 
    transition: all .1s ease-out;  
}

